<template name="nav">
    <div class="ui main text container">
        <h3 class="ui header">
            retro twitter rolls back user experience to simpler times, when 140 characters meant something.  Take back twitter, slay the failwhale. 
        </h3>
    </div>
    <div class="ui borderless main menu">
        {{> navbar }}
    </div>
</template>

<template name="navbar">
    <div class="ui text container">
        <div class="ui stackable two column grid">
            <div class="column">
                <div href="#" class="item">
                    <img class="logo" src="https://pbs.twimg.com/media/BozkfWEIUAECqov.png"> 
                    <span style="margin-right:3rem;">
                        retro twitter
                    </span>
                    <a href="#" class="item">{{> twitter_auth }}</a>
                </div>
            </div>
            <div class="column">
                <div class="ui right aligned item">
                    {{> search }}
                </div>
                
            </div>
        </div>
    </div>
</template>

<template name="twitter_auth">
    {{#if currentUser}} 
        {{> user}} 
    {{else}} 
        {{> login}} 
    {{/if}}
</template>

<template name="user">
    <span id="signOut">
        Sign Out of @{{currentUser.profile.name}}
    </span>
</template>

<template name="login">
    <span id="signIn">
        Sign In 
        <i class="ui twitter icon large" style="margin-left: 0.5rem;"></i>
    </span>
</template>
