<template name="Stream">
	<div class="pusher">
	    <div class="ui inverted vertical masthead center aligned segment">
		    <div class="ui container">
			    <div class="ui mini secondary inverted pointing menu">
				    <div class="right item">
					    {{> twitter_auth }}
				    </div>
			    </div>
		    </div>
			<div class="ui text container">
	            <h2>Search {{ searchType }}</h2>
	            {{> search}}
	        </div>
	    </div>
	    <div class="ui vertical stripe segment">
	        <div class="ui middle aligned stackable grid container">
	            <div class="row">
					{{> user_stream}}  
	            </div>
	        </div>
	    </div>
	</div>
</template>

<template name="user_stream">
	<div class="ui main text container">
        <div class="ui feed">
			{{#each user_stream }}
			  	{{> tweet_list }}
			{{/each}}
        </div>
	</div>
</template>
